.cabecalho {
  text-align: center;
  background-color: rgb(177, 182, 187, 0.3);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 5px 0px 50px 0px rgba(0, 0, 0, 0.1); */
  border-radius: 5px;
  margin: 5px auto;
  width: 70%;
}

.reminder-form-div {
  background-color: rgb(177, 182, 187, 0.3);
  /* box-shadow: 5px 0px 50px 0px rgba(0, 0, 0, 0.1); */
  margin: 5px auto;
  width: 70%;
  border-radius: 5px;
  padding: 5px 50px;
}

.reminder-form {
  padding: 0 60px;
}

.reminder-form-wrap {
  background-color: #fff;
  width: 70%;
  max-width: 400px;
  margin: 100px auto;
  text-align: center;
  padding: 20px 0 0 0;
  border-radius: 5px;
  /* box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2); */
}

input {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  height: 60px;
  line-height: 60px;
  border-radius: 5px;
}

input[type="textarea"],
input[type="date"] {
  width: 100%;
  padding: 0 0 0 10px;
  margin: 10px 0;
  color: #8a8b8e;
  border: 1px solid #c2c0ca;
  font-style: normal;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  display: inline-block;
  background: none;
}

input[type="textarea"]:focus,
input[type="date"]:focus {
  border-color: #3ca9e2;
}

.btn-criar-lembrete {
  border: none;
  display: block;
  background-color: #3ca9e2;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 18px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 10px;
  width: 100%;
  padding: 20px;
}
.btn-criar-lembrete:hover {
  background-color: #329dd5;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.reminder-list-container h1 {
  margin-top: 80px;
  margin-bottom: 24px;
}

.reminder-list-container ul {
  display: block;
  /* grid-template-columns: repeat(2, 1fr); */
  /* gap: 24px; */
  list-style: none;
}

.reminder-list-container ul li {
  /* box-shadow: 10px 10px 15px -1px rgba(0, 0, 0, 0.2); */
  /* background: #fff; */

  background: rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(5.4px);
  -webkit-backdrop-filter: blur(5.4px);
  /* border: 1px solid rgba(0, 0, 0, 1); */

  padding: 24px;
  border-radius: 5px;
  position: relative;
  margin-bottom: 8px;
}

.reminder-list-container ul li:last-child {
  margin-bottom: 40px;
}

.reminder-list-container ul li button {
  position: absolute;
  right: 24px;
  top: 24px;
  border: 0;
  background: none;
}

.reminder-list-container ul li button :hover {
  opacity: 0.5;
}

.reminder-list-container ul li strong {
  display: block;
  margin-bottom: 16px;
  color: #41414d;
}

.reminder-list-div {
  background-color: rgb(177, 182, 187, 0.3);
  box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.1);
  margin: 5px auto;
  width: 70%;
  border-radius: 5px;
  padding: 10px 50px;
}
.reminder-list-div h1 {
  text-align: center;
}

.reminder-data-title {
  color: aqua;
}

.reminder-list-container ul li p {
  word-wrap: break-word;
}

.reminder-list-container ul li p span {
  font-weight: bold;
}

.reminder-list-container ul li:hover {
  border-left: solid #3ca9e2;
  border-right: solid #3ca9e2;
}
